body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
  /* background-color: #9b2761;  */
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

* ::-webkit-scrollbar { 
  display: none; 
}
